<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}S.I.M.{% endblock %}</title>

    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

    </head>
<body>
    </head>

<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="messages-container">
            {% for category, message in messages %}
                <div class="flash-message flash-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <header>
        <nav>

    <header>
        <nav>
            <h1>Sustainable Inventory Management</h1>
            <a href="{{ url_for('inventory_bp.dashboard')}}">Dashboard</a>
            <a href="{{url_for('inventory_bp.add_product_page')}}">Add Product</a>
            </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Sustainable Inventory App</p>
    </footer>
</body>
</html>