<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}S.I.M.{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <!-- Blocco per i messaggi Flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="messages-container">
            {% for category, message in messages %}
                <div class="flash-message flash-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <!-- Un solo Header e un solo Nav -->
    <header>
        <nav>
            <h1>Sustainable Inventory Management</h1>
            <a href="{{ url_for('inventory_bp.dashboard') }}">Dashboard</a>
            <a href="{{ url_for('inventory_bp.add_product_page') }}">Add Product</a>
            <a href="{{ url_for('inventory_bp.report_page') }}">Report</a>
        </nav>
    </header>

    <!-- Contenuto principale -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 Sustainable Inventory App</p>
    </footer>

</body>
</html>